// colors
$orange: #d34f3c;
$pink: #c43d5c;
$blue: #0b6772;
$gray: #171d1d;

// elements

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html, body, h1, h3, p, a {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom right, $orange, $pink, $blue, $orange);
    background-size: 300% 300%;
    transition: 500ms ease-in-out all;
}

h1, h3, p, a {
    font-family: 'VT323', monospace;
    transform: scaleX(1.5);
    transform-origin: left;
    color: $gray;
    margin-bottom: .5rem;
}

p, a {
    font-size: 1.25rem;
    display: inline;
}

a {
    text-decoration: none;
}

// color utilities
.use-orange {
    background-position: 0% 0%;

    .screen {
        h1, h3, p, a, a:visited, .game-board {
            color: $orange;
        }

        a:hover, .prompt-option:hover, .game-board span:hover {
            color: $pink;
        }
    }

    .contact-row, .navigation h3:not(.active):hover span {
        border-color: $orange;
    }
}

.use-pink {
    background-position: 50% 50%;
    
    .screen {
        h1, h3, p, a, a:visited, .game-board {
            color: $pink;
        }

        a:hover, .prompt-option:hover, .game-board span:hover {
            color: $blue;
        }
    }

    .contact-row, .navigation h3:not(.active):hover span {
        border-color: $pink;
    }
}

.use-blue {
    background-position: 100% 100%;

    .screen {
        h1, h3, p, a, a:visited, .game-board {
            color: $blue;
        }

        a:hover, .prompt-option:hover, .game-board span:hover {
            color: $orange;
        }
    }

    .contact-row, .navigation h3:not(.active):hover span {
        border-color: $blue;
    }
}

body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.content {
    display: flex;
    align-items: stretch;
    width: 100%;
    padding: 4rem;
}

.screen {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50rem;
    background-color: $gray;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 2px 5px 10px rgba(0,0,0, .7);
    overflow-y: auto;

    &-content {
        display: flex;
        flex-direction: column;

        p {
            font-size: 1rem;
        }
    }

    h1, h3, p, a {
        width: 65%;
    }
}

.contact-row {
    margin: .5rem 0 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 3px dashed;

    a {
        margin-right: .5rem;
    }
}

.navigation {
    align-self: flex-start;
    padding-top: 1rem;

    h3 {
        &:not(.active) {
            cursor: pointer;
        }
        
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        span {
            border-bottom: 3px solid rgba(0,0,0,0);
            padding-bottom: .25rem;
        }

        &:hover span {
            border-bottom-style: dashed;
        }

        &::before {
            //animation: blink 1s linear alternate infinite;
            animation: blink-animation 1.5s steps(2, start) infinite;
            content: '\00a0';
            margin-right: .5rem;
        }

        &.active::before {
            content: '>';
        }
    }
}

.prompt-option {
    cursor: pointer;
}

.game-board {
    cursor: pointer;

    span {
        padding: .5rem;
        display: inline-block;
    }
}

@keyframes blink {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@media (max-aspect-ratio: 5/7) {
    .content {
        padding: 2rem;

        .screen {
            padding: 1.5rem;
        }
    }
}