html, body {
  width: 100%;
  height: 100%;
}

html, body, h1, h3, p, a {
  margin: 0;
  padding: 0;
}

body {
  -webkit-transition: 200ms ease-in-out all;
  transition: 200ms ease-in-out all;
}

h1, h3, p, a {
  font-family: 'VT323', monospace;
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
  -webkit-transform-origin: left;
          transform-origin: left;
  color: #171d1d;
}

p, a {
  font-size: 1.25rem;
  display: inline;
}

a {
  text-decoration: none;
}

.use-orange {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d34f3c), to(#c43d5c));
  background-image: linear-gradient(to bottom right, #d34f3c, #c43d5c);
}

.use-orange .screen h1, .use-orange .screen h3, .use-orange .screen p, .use-orange .screen a, .use-orange .screen a:hover, .use-orange .screen a:visited {
  color: #d34f3c;
}

.use-orange .contact-row {
  border-color: #d34f3c;
}

.use-pink {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#c43d5c), to(#0b6772));
  background-image: linear-gradient(to bottom right, #c43d5c, #0b6772);
}

.use-pink .screen h1, .use-pink .screen h3, .use-pink .screen p, .use-pink .screen a, .use-pink .screen a:hover, .use-pink .screen a:visited {
  color: #c43d5c;
}

.use-pink .contact-row {
  border-color: #c43d5c;
}

.use-blue {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0b6772), to(#d34f3c));
  background-image: linear-gradient(to bottom right, #0b6772, #d34f3c);
}

.use-blue .screen h1, .use-blue .screen h3, .use-blue .screen p, .use-blue .screen a, .use-blue .screen a:hover, .use-blue .screen a:visited {
  color: #0b6772;
}

.use-blue .contact-row {
  border-color: #0b6772;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen, .navigation {
  display: inline-block;
}

.screen {
  background-color: #171d1d;
  height: 65vh;
  width: 65vh;
  padding: 2rem;
  border-radius: 2rem;
}

.contact-row {
  margin: .5rem 0 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 3px dashed;
}

.contact-row a {
  margin-right: .5rem;
}

.navigation {
  color: #171d1d;
  font-weight: bold;
  margin-left: 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.navigation h3 {
  cursor: pointer;
  margin-bottom: 1rem;
}

.navigation h3 span {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  padding-bottom: .25rem;
}

.navigation h3:hover span {
  border-color: #171d1d;
  border-bottom-style: dashed;
}

.navigation h3::before {
  content: '\00a0';
  margin-right: .5rem;
}

.navigation h3.active::before {
  content: '>';
}
/*# sourceMappingURL=style.css.map */