// colors
$orange: #d34f3c;
$pink: #c43d5c;
$blue: #0b6772;
$gray: #171d1d;

// color utilities
.use-orange {
    background: $orange;
    color: $orange;
}

.use-pink {
    background: $pink;
    color: $pink;
}

.use-blue {
    background: $blue;
    color: $blue;
}

// elements

html, body {
    width: 100%;
    height: 100%;
}

html, body, h1, h3, p, a {
    margin: 0;
    padding: 0;
}

h1, h3, p, a {
    font-family: 'VT323', monospace;
    transform: scaleX(1.5);
    transform-origin: left;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    height: 50vh;
    display: flex;
    align-items: flex-start;
}

.screen, .navigation {
    display: inline-block;
}

.screen {
    background-color: $gray;
    height: 50vh;
    width: 50vh;
    padding: 2rem;
    border-radius: 2rem;
}

.navigation {
    color: $gray;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 2rem;

    p {
        cursor: pointer;
        margin-bottom: 1rem;

        span {
            border-bottom: 3px solid rgba(0,0,0,0);
            padding-bottom: .5rem;
        }

        &:hover span {
            border-color: $gray;
        }

        &::before {
            content: '\00a0';
            margin-right: .5rem;
        }

        &.active::before {
            content: '>';
        }
    }
}